@media (max-width:1200px) {
  .f35 {
    font-size: 28px;
  }
  .step-img {
    height: 150px;
  }
  .step-desc h2 {
    margin-top: 5px;
  }
  .icon-store {
    height: 70px;
    width: 70px;
    padding: 14px 10px 0 9px;
  }
  .f28 {
    font-size: 24px;
  }
  .nav > li {
    padding: 0 10px;
  }
  .step-img {
    height: 100px;
  }
  .margin-mobile + .margin-mobile {
    margin-top: 10px;
  }
  .border-right {
    border: none;
  }
}
@media (max-width: $screen-sm-max) {
  .mt10 {
    margin-top: 25px;
  }
  .mt50 {
    margin-top: 30px;
  }
  .button-set {
    margin-top: 50px;
  }
  .mt40 {
    margin-top: 20px;
  }
  .icon-store {
    height: 50px;
    width: 50px;
    padding: 8px 10px 0 9px;
    img {
      width: 28px;
    }
  }
  .f28 {
    font-size: 20px;
  }
  .no-coding h4 {
    font-size: 14px;
  }
  .step-desc h2 {
    font-size: 26px;
  }
  .padding7 ul li {
    padding: 0 5px !important;
  }
  .pl0 {
    padding-left: 15px !important;
  }
  .feature-bg {
    padding: 20px;
    margin-bottom: 20px;
  }
  .mt30 {
    margin-top: 15px;
  }
  .f35 {
    font-size: 26px;
  }
  .mt60 {
    margin-top: 66px;
    margin-right: 10px;
  }
}
@media (max-width: $screen-xs-max) {
  .mtop10 {
    margin-top: 25px;
  }
  .mt50 {
    margin-top: 20px;
  }
  // .button-set {
  //   width: 68%;
  //   margin-left: 17%;
  // }
  .class-forget {
    text-align: center;
  }
  .or {
    margin-top: 0;
  }
  .dashboard {
    display: none;
  }
  .mtop {
    margin-top: 30px;
  }
  .faq-qsn h5 {
    line-height: 164%;
  }
  .faq-qsn p {
    margin: 0 0 4px;
  }
  .logo {
    padding-left: 15px;
  }
  .navbar-toggle {
    margin-top: 15px;
    border: none;
  }
  .on-right {
    float: none;
    text-align: center;
    a {
      display: inline-block;
    }
    .special {
      margin-left: 0;
    }
  }
  .three-step .fix-height {
    margin-bottom: 15px;
    overflow: hidden;
  }
  .social-buttons:nth-child(1) {
    margin-top: 10px;
  }
  .publish-img img {
    margin: 0 auto;
  }
  .help-title,
  .code-title,
  .custom-li ul {
    text-align: center;
    h2 {
      font-size: 26px;
    }
  }
  .feature.title h2 {
    font-size: 26px;
  }
  .border-right {
    border-color: #fff;
  }
  .newsletter span {
    font-weight: 600;
    font-size: 16px;
  }
  .padding-code {
    padding: 20px;
  }
  .footermenu {
    text-align: center;
  }
}
@media (max-width:480px) {
  .button-set {
    width: 100%;
    margin-left: 0;
  }
  .mt50 {
    margin-top: 10px;
  }
  // .class-forget1{
  //   text-align: center;
  // }
  .class-forget {
    text-align: center;
  }
  .or {
    margin-top: 0;
  }
  .contact {
    padding: 0 0 25px 30px;
  }
  .padd-contact h4 {
    margin-bottom: 3px;
  }
  hr.sweet-line {
    width: 80%;
    margin: 40px 28px 30px;
  }
  .f16 {
    padding: 0 17px;
  }
  .about p {
    font-size: 13px !important;
  }
}
