/*Start writing sass here*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900);
@import "linearicons";
@import "blazen";
@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
$gray-base: #000 !default;
$gray-darker: lighten($gray-base, 13.5%) !default; // #222
$gray-dark: lighten($gray-base, 20%) !default; // #333
$gray: lighten($gray-base, 33.5%) !default; // #555
$gray-light: lighten($gray-base, 46.7%) !default; // #777
$gray-lighter: lighten($gray-base, 93.5%) !default; // #eee
$brand-primary: #0d9dff !default;
$brand-success: #1aeb46 !default;
$brand-warning: #ebb21a !default;
$brand-danger: #eb2e1a !default;
$brand-info: #1ad0eb !default;
$facebook: #3a579d !default;
$google: #dd4d3c !default;
$twitter: #49c8f5 !default;
$body-bg: #fff !default;
$text-color: $gray !default;
$link-color: $gray !default;
$link-hover-color: $gray-base !default;
$link-hover-decoration: none !default;
$font-family-sans-serif: "Lato","Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif: "Lato", Georgia, "Times New Roman", Times, serif !default;
$border-radius-base: 0 !default;
$border-radius-large: 0 !default;
$border-radius-small: 0 !default;
$menu-height: 65px !default;
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
// @font-face {
//     font-family: 'Blazen';
//     src: url('../fonts/blazen.eot?sfgjhu');
//     src: url('../fonts/blazen.eot?sfgjhu#iefix') format('embedded-opentype'), url('../fonts/blazen.ttf?sfgjhu') format('truetype'), url('../fonts/blazen.woff?sfgjhu') format('woff'), url('../fonts/blazen.svg?sfgjhu#icomoon') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }
[class^="icon-"],
[class*=" icon-"] {
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-blazen:before {
  content: "\e900";
}
.primary {
  color: $brand-primary;
}
.fb-icon {
  border: 1px solid $facebook;
  background-color: $facebook;
  color: #fff !important;
  &:hover {
    background-color: darken($facebook, 10%);
    color: #fff;
  }
}
.google-icon {
  border: 1px solid $google;
  background-color: $google;
  color: #fff !important;
  &:hover {
    background-color: darken($google, 10%);
    color: #fff;
  }
}
.twitter-icon {
  border: 1px solid $twitter;
  background-color: $twitter;
  color: #fff !important;
  &:hover {
    background-color: darken($twitter, 10%);
    color: #fff;
  }
}
.git-icon {
  border: 1px solid #545454;
  background-color: #545454;
  color: #fff;
  &:hover {
    background-color: darken(#545454, 10%);
    color: #fff;
  }
}
body {
  padding-top: $menu-height;
  background-color: #F4F4F4;
  font-style: normal;
  font-weight: noraml;
}
img.loading {
  text-align: center;
  opacity: 1;
  width: 32px !important;
  height: auto;
}
img {
  opacity: 0;
  @include transition(all 300ms ease);
}
img.doneLoading {
  opacity: 1;
}
nav li:hover .dropdown-menu {
  display: block;
}
.btn, .input-group-btn{
  &:focus{
    outline: 0;
  }

    &:hover{
      outline: 0;
    }
    &:active{
      outline: 0;
    }
}
.content {
  min-height: 450px;
}
.font-italic {
  font-style: italic;
}
.font-blazen {
  font-family: 'blazen';
}
hr.sweet-line {
  background-image: url("../img/sweet-line.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 15px;
  background-size: 300px auto;
  background-color: transparent;
  border: none;
  margin: 40px 0 30px;

}
a.navbar-brand {
  color: $brand-primary;
  font-size: 30px;
  .logo-text {
    font-weight: 300;
    font-size: 35px;
  }
}
.nav {
  > li {
    padding: 0 20px;
    &.active {
      a {
        color: $brand-primary;
        border-color: $brand-primary;
      }
    }
    &.special {
      a {
        background-color: $brand-primary;
        color: white;
        padding: 3px 15px;
        margin-left: -15px;
        border: 2px solid $brand-primary;
      }
    }
    > a {
      @include transition(all 300ms ease);
      border-bottom: 2px solid transparent;
      padding: 5px 0;
      margin-top: 15px;
      &:hover {
        background-color: transparent;
        color: $brand-primary;
        border-color: $brand-primary;
      }
    }
  }
}
.footermenu {
  background: #fff;
    padding: 30px 0px 30px;
  ul.list-unstyled {
    li {
      font-weight: 700;
      margin-bottom: 10px;
          padding: 0px 4px;
      a {
        font-weight: 300;
      }
    }
  }
}
.font-weight300 {
  font-weight: 300;
}
.navbar {
  min-height: $menu-height;
  border-bottom: 1px solid $gray-lighter;
  background-color: #fff;
}
.footer {
  font-size: 12px;
  font-weight: 400;
  padding: 15px 0;
  background-color: $gray-lighter;
  a {
    color: $brand-primary;
  }
}
//pricing
.mg50 {
  margin: 50px 0;
}
.plan {
  border: 1px solid $brand-primary;
  margin: 30px 0;
  .price {
    color: $brand-primary;
    font-size: 35px;
  }
  .plan-info {
    min-height: 400px;
    padding: 40px 70px;
    background-color: #f1f1f1;
    ul {
      padding-left: 15px;
    }
  }
}
//blog list
.brdr > .btn {
  width: 25px;
  height: 25px;
  padding: 1px 6px;
  text-align: center;
}
.blog-list {
  p {
    line-height: 200%;
  }
  span {
    margin-left: 10px;
    @extend .primary;
  }
  .blog-img {
    margin: 30px 0;
  }
}
// login
.login-form {
  margin-top: 100px;
}
.text-style {
  font-size: 11px;
}
.brdr {
  border-radius: 2px;
}
.input-style {
  height: 40px;
  @extend .brdr;
}
// .text-center {
//   margin-top: 20px;
// }
.center {
  line-height: 42px;
}
.btn {
  width: 100%;
  span {
    line-height: 200%;
  }
}
.social-buttons {
  margin-top: 10px;
}
.social-buttons:nth-child(1) {
  margin-top: 0;
}
.social-f {
  margin: 8px 0;
}
.home-bg {
  background: url(../img/home-bg.jpg)no-repeat;
  background-size: cover;
  position: relative;
}
.publish-img {
  position: relative;
  padding-top: 30px;
}
.inner-section {
  position: absolute;
  top: 65%;
  left: 50%;
  @include transform(translate(-50%,-50%));
  width: 100%;
  text-align: center;
}
.color-white {
  color: $body-bg;
}
.custom-li {
  ul {
    padding: 0;
    display: block;
    list-style: none;
    margin-bottom: 0;
    li {
      display: inline-block;
    }
  }
}
.step-img {
  height: 180px;
  width: auto;
  overflow: hidden;
  display: block;
  text-align: center;
  img {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
  }
}
.mt40 {
  margin-top: 40px;
}
.mt30 {
  margin-top: 30px;
}
.icon-store {
  background: #fff;
  border-radius: 100%;
  height: 80px;
  width: 80px;
  padding: 20px 10px 0 9px;
}
.mt15 {
  margin-top: 15px;
}
.pt30{
  padding-top: 30px;
}
.mt100{
  margin-top: 100px;
}
.icon-store img {
  width: 35px;
}
.store-icon {
  ul {
    li {
      padding: 0 10px;
    }
  }
}
.pt10{
  padding-top: 10px !important;
}
.f28 {
  font-size: 28px;
  font-weight: 300;
}
.app-review {
  margin-top: 35%;
}
.store-icon {
  margin-top: 20px;
}

.f20{
  font-size: 20px;
}
.help-bg {
  // background: url(../img/help.jpg);
  // background-color: #fff;
  padding: 7px;
  margin: 15px 0;
}
.help-icon {
  text-align: center;
  padding: 4px 0;
  img {
    margin: 0 auto;
    width: 70px;
  }
}
.font-bold {
  font-weight: bold;
}
.margin0 {
  margin: 0;
}
.border-dash {
  border: 2px solid #fff;
  /* padding: 0px; */
  border-style: dashed;
}
.bg-code {
  border: 1px solid #F4F4F4;
  background: #fff;
}
.social-bg {
  margin-top: 15px;
}
.icon-list {
  height: 60px;
  width: auto;
  overflow: hidden;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}
.social-icons {
  @extend .icon-list;
  height: 90px;
}
.padding-code {
        padding: 25px 30px 25px 12px;
}
.blog-title {
  h1 {
    text-align: center;
    font-size: 90px;
    margin: 0;
  }
  h3{
    cursor: pointer;
      @include transition(all 300ms ease);
    &:hover{
      color:$brand-primary;

    }
  }
}
.short-info {
  padding: 0 10px;
}
.border-right {
  border-right: 1px solid #C3C3C3;
}
.social-signup {
  ul {
    li {
      .btn {
        padding: 0 12px;
        border-radius: 0;
        &:focus {
          outline: 0;
          color: #fff;
        }
        &:hover {
          outline: 0;
        }
        &:active {
          box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.125);
        }
      }
    }
  }
}
.margin-btn {
  margin: 8px 12px 0 0;
}
.bg-login {
  padding: 0 0 30px 20px;
}
.feature-bg {
  padding: 20px;
}
.logo {
  font-size: 24px;
  line-height: 60px;
  color:$brand-primary;
  a {
    color: $brand-primary;
    &:hover {
      color:$brand-primary;
    }
    &:focus {
      color: $brand-primary;
    }
  }
}
.rocket {
  i {
    font-size: 70px;
  }
}
.sign-padding {
  padding: 16px 0;
}
.social-signup {
  ul {
    li {
      padding: 0 20px;
    }
  }
}
.pl0 {
  padding-left: 0 !important;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.display-inline {
  display: inline-block;
}
.sign-icon {
  font-size: 35px;
}
.feature-list {
  ul {
    margin-top: 8px;
    padding-left: 18px;
    li {
      list-style: circle;
    line-height: 240%;
      font-size: 16px;
    }
  }
}
.padding0 {
  padding: 0 !important;
}
.short-info {
  h3 {
    font-size: 28px;
  }
}
.color-grey {
  color: #939393;
}
.mb60 {
  margin-bottom: 60px;
}
.white-box {
    background: #fff;
    padding: 40px 0px 60px 0px;
    margin-top: 60px;
    margin-bottom: 60px;
}
.mt50{
  margin-top: 50px;
}
.pl30{
  padding-left: 30px;
}
.pr30{
  padding-right: 30px;
}
.feature-icon{
  text-align: center;
  i{
    font-size: 26px;
text-align: center;
color:$brand-primary;
font-weight: 300;
  }
}
.feature-count{
  h4{
font-weight: 600;
  }
  p{
    padding-top: 10px;
    color: $gray-light;
    line-height: 150%;
  }
}
.f35{
  font-size: 35px;
}
.text-uppercase{
  text-transform: uppercase;
}
.color-head{
  color:#7d7d7d;
}
.mb10{
  margin-bottom: 10px;
}
.padding7{
  ul{
    li{
      padding: 0px 7px !important;
    }
  }
}
.code-title{
  p {
     line-height: 190%;
 }

}
.feature-list {
    margin-top: 20px;
}
.list-unstyled{
  li{
    .socials{
      height: 35px;
      width: auto;
      overflow: hidden;
      img{
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}
.contact {
    padding:0px 0px 0px 30px;
}
.padd-contact{
  h4{
    margin-bottom: 10px;
  }
  p{
    margin: 0px;
    line-height: 180%;
  }
}
.blogs {
    padding: 0px 30px;
}
.font-bold{
  font-weight: bold;
}
.detail{
  li{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    color: #979797;
    font-weight: normal;
    margin-bottom: 10px;
    i{
      margin-right: 8px;
      color:$brand-primary;
      font-size: 16px;
    }
  }
}
.social-lk{
  ul{
    li{
          margin-bottom: 0px;
              padding: 0px 3px;
    }
  }
}
.social-pd{
  height: 30px;
width: 30px;
border-radius: 100%;
padding: 7px;
}
.blog-sort {
  margin-top: 20px;
  margin-bottom: 30px;
  p {
      color: #777777;
      line-height: 180%;
  }
}
.mt40{
  margin-top: 40px;
}
.price {
    background: #FFFFFF;
    padding: 4px 0px 20px 0px;
    border: 1px solid #C1C1C1;
    border-top: 5px solid #65c162;
      @include transition(all 300ms ease);
}
.price-box{
      margin-top: 26px;
}
.price-title{
  h1{
    margin: 0px;
font-size: 28px;
  }
}
.price-rs{
  margin-top: 30px;
  h1{
    color: #65c162;
  }
}
.price-dur{
  span{
    color: #BFBFBF;
text-transform: capitalize;
  }
}
.price-feature{
  margin-top: 30px;
  p{
        text-transform: capitalize;
  }
}
.border-tp{
  border-top: 5px solid #31a3d2;
}
.color-blue{
  color:#31a3d2 !important;
}
.border-tp2{
  border-top: 5px solid #794eb1;
}
.color-purple{
  color:#794eb1 !important;
}
.border-tp3{
  border-top: 5px solid $brand-primary;
}
.color-blues{
  color:$brand-primary !important;
}
.hover-effect{
  &:hover{
    .price {
        transform: scale(1.1);
    }
  }
}
.comment{
  padding-left: 10px;
vertical-align: super;
}
.border-top-bot {
    border-top: 1px solid $gray-lighter;
    border-bottom: 1px solid $gray-lighter;
    padding: 5px 0px;
}
.comment-user {
    height: 80px;
    width: auto;
    display: block;
    overflow: hidden;
    text-align: center;
    padding-top: 10px;
    img {
        max-width: 100%;
        max-height: 100%;
        margin: 0 auto;
        border-radius: 100%;
    }
}
.comments{
  h5{
    font-weight: bold;
font-size: 16px;
  }
}
.about {
  p {
      line-height: 180%;
  }
}
.faq-qsn{
  h5{
        font-size: 15px;
  }
  p{
      line-height: 180%;
  }
}
.doc-list{
  ul{
    padding: 0px;
    li{
      list-style: none;
    }
  }
}
