/*Start writing sass here*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900);
@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";

@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/fontawesome/css/font-awesome.min.css";

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

$brand-primary:         #0d9dff !default;
$brand-success:         #84ce3c !default;
$brand-warning:         #ffec39 !default;
$brand-danger:          #fc483f !default;
$brand-info:            #000072 !default;

$facebook:              #3a579d !default;
$google:                #dd4d3c !default;
$twitter:               #49c8f5 !default;

$body-bg:               #fff !default;

$text-color:            $gray-base !default;

$link-color:            $gray-base !default;

$link-hover-color:      $gray-base !default;

$link-hover-decoration: none !default;

$font-family-sans-serif:  "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:       "Lato", Georgia, "Times New Roman", Times, serif !default;

$border-radius-base:        0px !default;
$border-radius-large:       0px !default;
$border-radius-small:       0px !default;

$menu-height: 74px !default;

@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

@font-face {
	font-family: 'Blazen';
	src:url('fonts/blazen.eot?sfgjhu');
	src:url('fonts/blazen.eot?sfgjhu#iefix') format('embedded-opentype'),
		url('fonts/blazen.ttf?sfgjhu') format('truetype'),
		url('fonts/blazen.woff?sfgjhu') format('woff'),
		url('fonts/blazen.svg?sfgjhu#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
	font-family: 'Blazen';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-blazen:before {
	content: "\e900";
}

body {
  padding-top: 70px;
}
img.loading {
  text-align: center;
  opacity: 1;
  width: 32px !important;
  height: auto;
}
img {
  opacity: 0;
     .transition(all 300ms ease);
}
img.doneLoading {
  opacity: 1;
}
nav li:hover .dropdown-menu {
  display: block;
}
