@media (max-width:1200px) {

}
@media (max-width: $screen-sm-max) {
.mt10{
  margin-top: 25px;
}
.mt50{
    margin-top: 30px;
}
.button-set{
      margin-top: 50px;
}
}
@media (max-width: $screen-xs-max) {
  .mtop10{
  margin-top: 25px;
  }
  .mt50{
      margin-top: 20px;
  }
  // class-forget{
  //   text-align: center;
  // }
  // .ml38{
  //   text-align: center;
  // }
  // .or{
  //   margin-top: 5px;
  // }
  .button-set{
    width: 68%;
margin-left: 17%;
  }
}
@media (max-width:480px) {
  .mt50{
      margin-top: 10px;
  }
  // .ml38 {
  //     padding: 0 18px;
  //       margin-left: 66px;
  //   }
  // .class-forget1{
  //   text-align: center;
  // }
  // .class-forget{
  //   // margin-left: 66px;
  //     margin-top: 75px;
  //   text-align: center;
  // }
  // .or {
  //   margin-top: 0px;
  // }
  .contact{
    padding: 0 0 25px 30px;
  }
  .padd-contact h4 {
    margin-bottom: 3px;
}
}
