<div class="container">
    <div class="white-box">
      <div class="row">
          <div class="head text-center">
              <h2 class="color-head text-uppercase f20 margin0 mb10">About</h2>
              <!-- <p>Make your app in no time.</p> -->
          </div>

      </div>
      <div class="row mt30">
        <div class="col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10">
          <div class="about">
          <p class="font-bold">
            We've been crafting awesome apps  and making  all our clients happy for years. We have a team that’s expertised and  experienced in field of technology that rarely is present in other organisations. Our clients happiness is enough to speak for  us. But we saw many that needed an  app  for their business but couldn't afford it. So this time the the team has come with an idea that  sticks to our mission-”technology for all”.
          </p>
          <p>
          We are a Team whose  mission is to provide opportunities to everyone to create their own apps. Using the team's expert knowledge, we have built a platform that helps build  app easily and at a significantly lower cost and that to without much hassle.For us our customers success is top priority.
          </p>

          </div>
        </div>
      </div>
    </div>
  </div>
