<section class="container">
    <div class="row">
        <div class="col-md-10">
            <h2>Blog</h2>
            <div class="blog-list">
                <h3>Lorem Ipsum is simply dummy text of the printing </h3>
                <div class="pull-right brdr">
                    <button class="btn btn-facebook fb-icon">
                        <i class="fa fa-facebook "></i>
                    </button>
                    <button class="btn btn-google google-icon">
                        <i class="fa fa-google-plus"></i>
                    </button>
                    <button class="btn btn-twitter twitter-icon ">
                        <i class="fa fa-twitter"></i>
                    </button>
                </div>
                <div class="profile-pic">
                    <img src="img/blog.png" alt="" class="img-circle">
                    <span>by Mahesh Maurya on November 2, 2015</span>
                </div>
                <div class="blog-img"><img src="img/duffler.jpg" alt="" class="img-responsive"></div>
                <div class="">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </div>
                <div class=""><a href="#/blog/1" class="primary">Read more..</a></div>
            </div>
            <hr>
            <div class="blog-list">
                <h3>Lorem Ipsum is simply dummy text of the printing </h3>
                <div class="pull-right brdr">
                    <button class="btn btn-facebook fb-icon">
                        <i class="fa fa-facebook "></i>
                    </button>
                    <button class="btn btn-google google-icon">
                        <i class="fa fa-google-plus"></i>
                    </button>
                    <button class="btn btn-twitter twitter-icon ">
                        <i class="fa fa-twitter"></i>
                    </button>
                </div>
                <div class="profile-pic">
                    <img src="img/blog.png" alt="" class="img-circle">
                    <span>by Mahesh Maurya on November 2, 2015</span>
                </div>
                <div class="blog-img"><img src="img/duffler.jpg" alt="" class="img-responsive"></div>
                <div class="">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </div>
                <div class="more"><a href="#/blog/1" class="primary">Read more..</a></div>
            </div>
            <hr>
            <div class="blog-list">
                <h3>Lorem Ipsum is simply dummy text of the printing </h3>
                <div class="pull-right brdr">
                    <button class="btn btn-facebook fb-icon">
                        <i class="fa fa-facebook "></i>
                    </button>
                    <button class="btn btn-google google-icon">
                        <i class="fa fa-google-plus"></i>
                    </button>
                    <button class="btn btn-twitter twitter-icon ">
                        <i class="fa fa-twitter"></i>
                    </button>
                </div>
                <div class="profile-pic">
                    <img src="img/blog.png" alt="" class="img-circle">
                    <span>by Mahesh Maurya on November 2, 2015</span>
                </div>
                <div class="blog-img"><img src="img/duffler.jpg" alt="" class="img-responsive"></div>
                <div class="">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </div>
                <div class="more"><a href="#/blog/1" class="primary">Read more..</a></div>
            </div>
            <hr>
        </div>
    </div>
</section>