<div class="container">
  <div class="white-box">

    <div class="row">
      <div class="head text-center">
        <h2 class="color-head text-uppercase f20 margin0 mb10">The Official Blog</h2>
        <!-- <p>Make your app in no time.</p> -->
      </div>

    </div>
    <div class="blogs mt50 mb60">
      <div class="row">
        <div class=" col-md-offset-1 col-md-8">
          <div class="blog-title">
            <h3>A Quick Tour Of WordPress 4.0 Into Our Lives</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-1 col-md-8">

          <div class="blog-sort">
            <p><span>t</span>he other hand, we denounce with righteous indignation and dislike men who are so beguiled and demo ralized by the char ms of pleasure of the moment, so blinded by des;ire, that they cannot foresee the pain and trouble that are
              bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. New York City’s skyline is truly awe-inspiring. The iconic skyscrapers, bridges,
              waterways, islands and monuments create a breathtaking panorama.</p>
            <p><span>t</span>he other hand, we denounce with righteous indignation and dislike men who are so beguiled and demo ralized by the char ms of pleasure of the moment, so blinded by des;ire, that they cannot foresee the pain and trouble that are
              bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. New York City’s skyline is truly awe-inspiring. The iconic skyscrapers, bridges,
              waterways, islands and monuments create a breathtaking panorama.</p>
            <p><span>t</span>he other hand, we denounce with righteous indignation and dislike men who are so beguiled and demo ralized by the char ms of pleasure of the moment, so blinded by des;ire, that they cannot foresee the pain and trouble that are
              bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. New York City’s skyline is truly awe-inspiring. The iconic skyscrapers, bridges,
              waterways, islands and monuments create a breathtaking panorama.</p>
          </div>
          <div class="blog-img">
            <img src="img/blog-det.png" alt="" class="img-responsive">
          </div>
        </div>
        <div class="col-md-3">
          <div class="details">
            <h5 class="title font-bold">Details</h5>
            <ul class="list-unstyled detail">
              <li><i class="ln-clock4"></i>26 July 2014</li>

              <li><i class="ln-user"></i>by John Smith</li>

            </ul>
          </div>
          <div class="mt15">
            <h5 class="title font-bold">Share</h5>
            <div class="custom-li display-inline social-lk">
              <ul class="list-unstyled">
                <li>
                  <a href=""><i class="fa fa-facebook fb-icon social-pd"></i></a>
                </li>
                <li>
                    <a href=""><i class="fa fa-twitter twitter-icon social-pd"></i></a>
                </li>
                <li>
                    <a href=""><i class="fa fa-google-plus google-icon social-pd"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt30">
        <div class="col-md-offset-1 col-md-10">
          <div class="border-top-bot">
          <div class="feature-icon display-inline">
            <i class="ln-comments"></i>
          </div>
          <div class="comment display-inline">
            <h4>Comment</h4>
          </div>
          </div>
          <div class="row mt30">
            <div class="col-md-1">
                <div class="comment-user">
                  <img src="img/user.jpeg" alt="">
                </div>
            </div>
            <div class="col-md-10">
              <div class="comments">
                <h5>Jhon Dip</h5>
                <p>
                  Aspiring to beauty in our designs is admirable. But it doesn’t guarantee usability, nor is it a product or marketing strategy. Like “simple” and “easy” before it, “beautiful” says very little about the product. How many people, fed up with PowerPoint, cry out in frustration, “If only it were more beautiful”?
                </p>
              </div>
            </div>
          </div>
          <div class="row mt30">
            <div class="col-md-1">
                <div class="comment-user">
                  <img src="img/user.jpeg" alt="">
                </div>
            </div>
            <div class="col-md-10">
              <div class="comments">
                <h5>Jhon Dip</h5>
                <p>
                  Aspiring to beauty in our designs is admirable. But it doesn’t guarantee usability, nor is it a product or marketing strategy. Like “simple” and “easy” before it, “beautiful” says very little about the product. How many people, fed up with PowerPoint, cry out in frustration, “If only it were more beautiful”?
                </p>
              </div>
            </div>
          </div>

          </div>

      </div>
      <div class="row mt30">
        <div class="col-md-offset-1 col-md-10">
          <div class="border-top-bot">
          <div class="feature-icon display-inline">
            <i class="ln-edit2"></i>
          </div>
          <div class="comment display-inline">
            <h4>Leave Comments</h4>
          </div>
          </div>
          <div class="row mt30">
<div class="col-md-12">
  <div class="comment-sec">
    <div class="form-group">
        <!-- <label class="text-style">MESSAGE</label> -->
      <textarea class="form-control" rows="7" style="resize: none;" placeholder="Comment goes here..."></textarea>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
      <!-- <label class="text-style">FULL NAME</label> -->
      <input type="text" class="form-control input-style" placeholder="Full Name">
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
      <!-- <label class="text-style">FULL NAME</label> -->
      <input type="text" class="form-control input-style" placeholder="Email">
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
      <!-- <label class="text-style">FULL NAME</label> -->
      <input type="text" class="form-control input-style" placeholder="Website">
  </div>
</div>
          </div>
<div class="row mt15">
  <div class="col-md-3">
    <button class="btn btn-primary brdr">
      <span class="social-f">POST COMMENT</span>
    </button>
  </div>
</div>
          </div>

      </div>
    </div>

  </div>
</div>
