<div class="container">
  <div class="white-box">

    <div class="row">
      <div class="head text-center">
        <h2 class="color-head text-uppercase f20 margin0 mb10">The Official Blog</h2>
        <!-- <p>Make your app in no time.</p> -->
      </div>

    </div>
    <div class="blogs mt50 mb60" ng-repeat="blog in blogs">
      <div class="row">
        <div class=" col-md-offset-1 col-md-8">
          <div class="blog-title">
            <a  ui-sref="blog-detail({id:blog._id})"><h3 ng-bind="blog.title">A Quick Tour Of WordPress 4.0 Into Our Lives</h3></a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-1 col-md-8">

          <div class="blog-sort">
            <p ng-bind-html="blog.content">
              <span>t</span>he other hand, we denounce with righteous indignation and dislike men who are so beguiled and demo ralized by the char ms of pleasure of the moment, so blinded by des;ire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. New York City’s skyline is truly awe-inspiring. The iconic skyscrapers, bridges, waterways, islands and monuments create a breathtaking panorama.</p>
          </div>
          <div class="blog-img">
            <a  ui-sref="blog-detail({id:blog._id})"><img src="img/blog-det.png" alt="" class="img-responsive"></a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="details">
            <h5 class="title font-bold">Details</h5>
            <ul class="list-unstyled detail">
              <li>
                <i class="ln-clock4"></i>{{blog.timestamp|date:mediumDate}}</li>

              <li>
                <i class="ln-user" ></i>by {{blog.user.name}}</li>

            </ul>
          </div>
          <div class="mt15">
            <h5 class="title font-bold">Share</h5>
            <div class="custom-li display-inline social-lk">
              <ul class="list-unstyled">
                <li>
                  <a href="">
                    <i class="fa fa-facebook fb-icon social-pd"></i>
                  </a>
                </li>
                <li>
                  <a href="">
                    <i class="fa fa-twitter twitter-icon social-pd"></i>
                  </a>
                </li>
                <li>
                  <a href="">
                    <i class="fa fa-google-plus google-icon social-pd"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
