<div class="container documentation">
    <div class="white-box">
        <div class="row">
            <div class="head text-center">
                <h2 class="color-head text-uppercase f20 margin0 mb10">Documentation</h2>
                <p>Steps Made Easy Just For You</p>

            </div>

        </div>
        <div class="row mt50">
            <div class="col-md-offset-1 col-md-10">
                <!-- <h2 class="color-head text-uppercase f20 margin0 mb10 text-center" ng-hide="documentationdata">Loading...</h2> -->
                <div class="row">
                    <div class="col-md-3">
                        <div class="doc-left-bg">
                            <!-- <div class="doc-left-bg" ng-repeat="doc in documentationdata"> -->
                            <div class="doc-left doc-list mt30">
                                <h4>Overview</h4>
                                <ul class="padding0">
                                    <li ng-repeat="docs in doc.docs" ui-sref="documentationid({id:docs._id})">
                                        <a>Demo
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">start project</a>
                                    </li>
                                    <li>
                                        <a href="">What's Included</a>
                                    </li>
                                    <li>
                                        <a href="">Browser Support
                                        </a>
                                    </li>
                                </ul>
                                <div class="doc-left doc-list mt30">
                                    <h4>
                                        Ios
                                    </h4>
                                    <ul class="padding0">
                                        <li>
                                            <a href="">Geting started - IOS</a>
                                        </li>
                                        <li>
                                            <a href="">step 1 - Installation</a>
                                        </li>
                                        <li>
                                            <a href="">step 2 - Configration</a>
                                        </li>
                                        <li>
                                            <a href="">step 3 - integration</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="doc-right">
                            <h3 class="margin0">Start Project</h3>
                            <div class="doc-desc mt15">

                                <p>Finding difficulty in making your app a dream come true? Then this Tutorial will explain you step by step how to develop your app without much hassle.</p>
                                <p>Just follow the simple steps provided by us and you will have your app made in a jiffy.</p>
                                <div class="step-box mt30">

                                    <h4 class="primary">Adding a slider to your home page could never be this easy.</h4>

                                    <ol>
                                        <li>
                                            <div class="row">
                                                <div class="col-md-3">Click on the provided images or click on
                                                    <code>upload file</code> to upload the images of your choice.</div>
                                                <div class="col-md-9">

                                                    <a href="img/1.jpg" fancybox-box><img src="img/1.jpg" class="img-responsive" /></a>

                                                    <!-- <a href="img/dashboard.png" fancybox-box><img src="img/dashboard.png" class="img-responsive" /></a> -->

                                                </div>
                                            </div>

                                        </li>
                                        <li>If you have selected, provided images then you will come across a
                                            <code>edit image</code> Page.

                                            <a href="img/2.jpg" fancybox-box><img src="img/2.jpg" class="img-responsive mt10" /></a>

                                            <!-- <a href="img/dashboard.png" fancybox-box><img src="img/dashboard.png" class="img-responsive" /></a> -->


                                            <div class="sub-step">
                                                <ul>
                                                    <li>
                                                        <p>Add a title or caption to your image through the help of title option.
                                                        </p>
                                                    </li>
                                                    <li>
                                                        <p>You can see the preview of slider image. Incase you don't like that image then you can even upload an image of your choice by clicking on the upload file button.
                                                        </p>
                                                    </li>
                                                    <li>
                                                        <p>Incase you want those sliders to take you on other article/page then you can do so by using the link option.
                                                        </p>
                                                    </li>
                                                    <figure class="highlight">
                                                        <pre><code class="language-bash" data-lang="bash">Example: Your home page has a slider with multiple images in it and there is one slider with about us written and on whose click you want that user should reach about us page/article then this is the option available.<br>The one that are default will also appear along with the one’s that are created by you.
        </code></pre>
                                                    </figure>
                                                    <li>
                                                        <p>In future if you don't want a particular slide to exist but only for short duration then no need to delete and then again develop it ,when you have the
                                                            <code>enable/disable</code> option at your disposal.
                                                        </p>
                                                    </li>
                                                    <li>
                                                        <p>If you wish to save the changes made then click on
                                                            <code>save</code> or on
                                                            <code>cancel</code>.</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li>
                                            Next you will observe the set home content section. Best part of it is the WYSIWYG ("what you see is what you get") property. That is if you copy content from anywhere still you will be able to paste it in the content section.

                                        </li>

                                    </ol>
                                    <!-- <p>We will be releasing Cordova/PhoneGap plugins in the future to expand the capabilities of your apps. </p> -->



                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
