<div class="container">
    <div class="white-box">
      <div class="row">
          <div class="head text-center">
              <h2 class="color-head text-uppercase f20 margin0 mb10">FAQ</h2>
              <p>Here's a few answer to our most common question</p>
          </div>

      </div>
      <div class="row mt30">
        <div class="col-md-offset-1 col-md-10">
<div class="row">
  <div class="col-md-6">
    <div class="faq-qsn">
      <h5 class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.?</h5>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </div>
    <div class="faq-qsn mt50">
      <h5 class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.?</h5>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry..</p>
    </div>
    <div class="faq-qsn mt50">
      <h5 class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.?</h5>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="faq-qsn">
      <h5 class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.?</h5>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </div>
    <div class="faq-qsn mt50">
      <h5 class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.?</h5>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry..</p>
    </div>
    <div class="faq-qsn mt50">
      <h5 class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.?</h5>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </div>
  </div>

</div>
        </div>
      </div>
    </div>
  </div>
