<div class="container">
    <div class="white-box">
        <div class="row">
            <div class="head text-center">
                <h2 class="color-head text-uppercase f20 margin0 mb10">FAQ</h2>
                <p>Answers To All Your Questions</p>
            </div>

        </div>
        <div class="row mt30 text-justify">
            <div class="col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10">

                <div class="faq-qsn">
                    <h5 class="font-bold">Can I integrate Self Hosted Wordpress OR wordpress.com blogs?</h5>
                    <p>Yes. Blazen provides the ability to integrate both Self Hosted Wordpress and wordpress.com blogs.
                        <br>One can do it by entering the backend (i.e the dashboard present at left) and enter your wordpress username and Self Hosted Wordpress Blog URL and it will thus be integrated.</p>
                </div>
                <div class="faq-qsn mt50 mtop">
                    <h5 class="font-bold">Can I get the audio gallery from my SoundCloud account?</h5>
                    <p>Absolutely. All you have to do is provide the username of your SoundCloud account. One can do it by:
                        <br>Click on audio gallery > SETUP AUDIO GALLERY > Enter the SoundCloud username &amp; thus you will have access to your audio gallery.</p>
                </div>
                <div class="faq-qsn mt50 mtop">
                    <h5 class="font-bold">Can I make additional Navigations and assign different pages to each navigation?</h5>
                    <p>Yes you can add up navigations as per your wish.For that you need to follow the following steps:
                        <br>STEP 1: You will find the CREATE button at the right side which will help you start off with your navigation.
                        <br>
                        <span>For further steps follow our
                            <a ui-sref="documentation" class="primary">documentation.</a>
                        </span>
                    </p>
                </div>
                <div class="faq-qsn mt50 mtop">
                    <h5 class="font-bold">How many social logins do you provide?</h5>
                    <p>Facebook, Google+, Instagram, Twitter, Linkedin are the social modes made available by default.
                        <br>If you want another social media (eg:pinterest) then you can not do so but if you want to disable any you can by means of the ENABLE/DISABLE option.If you want additional social logins you can get it done using custom development for which you
                            will have to get in contact with us.</p>
                </div>
                <div class="faq-qsn mt50 mtop">
                    <h5 class="font-bold">Can I remove any feature, I dont want username?</h5>
                    <p>Yes you can. We are already providing the code for the application so if you want to customize any part you can do it.
                        <br>You can also contact the BLAZEN team if you want as we will also be providing custom development services for blazen app for those who need help.</p>
                </div>
                <div class="faq-qsn mt50 mtop">
                    <h5 class="font-bold">Can I have any additional feature within the App?</h5>
                    <p>Yes you can. We are already providing the code for the application so if you want to customize any part you can do it.
                        <br>You can also contact the BLAZEN team if you want as we will also be providing custom development services for blazen app for those who need help.</p>
                </div>
                <div class="faq-qsn mt50 mtop">
                    <h5 class="font-bold">I dont have Wordpress or Tumblr blog can I create blog from Blazen?</h5>
                    <p>Yes there's no need to worry. By means of CMS wherein you are been provided the option of CREATE, you can create blog with help of blazen even if you dont own an account on Tumblr or Wordpress.</p>
                </div>
                <div class="faq-qsn mt50 mtop">
                    <h5 class="font-bold">How can I integrate Tumblr blog with my app on Blazen?</h5>
                    <p>Its just a matter of seconds. Yes you have read it right. You just need to give the username of our Tumblr account and it will be done.</p>
                </div>
                <div class="faq-qsn mt50 mtop">
                    <h5 class="font-bold">What will be the developer name if we publish the app using Blazen?</h5>
                    <p>Initially the developer name will be that of BLAZEN but if you provide your publishing account we can publish using your account as well.</p>
                </div>
                <div class="faq-qsn mt50 mtop">
                    <h5 class="font-bold">Can I disable login in my app?</h5>
                    <p>Yes you can disable login by following steps:
                        <br>Click on LOGIN AND SIGNUP in Backend > Set login/signup > OFF(Enable/Disable).</p>
                </div>
                <div class="faq-qsn mt50 mtop">
                    <h5 class="font-bold">Can I add any additional feature in the same?</h5>
                    <p>Yes you can definietly add up features. You can get it customized from any other developer or get it done from blazen team as well.
                        <br>We also provide high quality custom development services which will leave no space for disappointment.</p>
                </div>
                <div class="faq-qsn mt50 mtop">
                    <h5 class="font-bold">Can I modify the designs?</h5>
                    <p>Yes you can. We are already providing the code for the application so if you want to customize any part you can do it.
                        <br>You can also contact the BLAZEN team if you want as we will also be providing custom development services for blazen app for those who need help.</p>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
