<section class="container">
  <div class="white-box">
<div class="row">
  <div class="col-sm-offset-1 col-sm-10">
        <div class="text-center">
          <h2 class="color-head text-uppercase f20 margin0 mb10">Features</h2>
        </div>

        <div class="row mt50">
          <div class="col-sm-6 margin-mobile visible-xs">
            <div class="dashboard">
              <img src="img/dashboard.png" alt="dashboard" class="img-responsive">
            </div>
          </div>
          <div class="col-sm-6 margin-mobile">
            <div class="feature-lists" ng-repeat="data in feature track by $index">
                <div class="feature-icon">
                  <i class="{{data.icon}}"></i>
                </div>
                <div class="feature-count">
                  <h4 class="margin0">{{data.title}}</h4>
                  <p>{{data.desc}}</p>
                </div>
            </div>
          </div>
          <div class="col-sm-6 margin-mobile hidden-xs">
            <div class="dashboard">
              <img src="img/dashboard.png" alt="dashboard" class="img-responsive">
            </div>
          </div>
      </div>

        <hr class="sweet-line">

        <div class="row">
          <div class="col-sm-6 margin-mobile">
            <div class="dashboard">
              <img src="img/dashboard.png" alt="dashboard" class="img-responsive">
            </div>
          </div>
          <div class="col-sm-6 margin-mobile">
            <div class="feature-lists" ng-repeat="data in feature2 track by $index">
              <div class="feature-icon">
                <i class="{{data.icon}}"></i>
              </div>
              <div class="feature-count">
                <h4 class="margin0">{{data.title}}</h4>
                <p>{{data.desc}}</p>
              </div>
            </div>
          </div>
        </div>

        <hr class="sweet-line">

        <div class="row">
          <div class="col-sm-6 margin-mobile visible-xs">
            <div class="dashboard">
              <img src="img/dashboard.png" alt="dashboard" class="img-responsive">
            </div>
          </div>
          <div class="col-sm-6 margin-mobile">
            <div class="feature-lists" ng-repeat="data in feature3 track by $index">
              <div class="feature-icon">
                <i class="{{data.icon}}"></i>
              </div>
              <div class="feature-count">
                <h4 class="margin0">{{data.title}}</h4>
                <p>{{data.desc}}</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 margin-mobile hidden-xs">
            <div class="dashboard">
              <img src="img/dashboard.png" alt="dashboard" class="img-responsive">
            </div>
          </div>
        </div>

        <hr class="sweet-line">

        <div class="row">
          <div class="col-sm-6 margin-mobile">
            <div class="dashboard">
              <img src="img/dashboard.png" alt="dashboard" class="img-responsive">
            </div>
          </div>
          <div class="col-sm-6 margin-mobile">
            <div class="feature-lists" ng-repeat="data in feature4 track by $index">
              <div class="feature-icon">
                <i class="{{data.icon}}"></i>
              </div>
              <div class="feature-count">
                <h4 class="margin0">{{data.title}}</h4>
                <p>{{data.desc}}</p>
              </div>
            </div>
          </div>
        </div>

        <hr class="sweet-line">

        <div class="row">
          <div class="col-sm-6 margin-mobile visible-xs">
            <div class="dashboard">
              <img src="img/dashboard.png" alt="dashboard" class="img-responsive">
            </div>
          </div>
          <div class="col-sm-6 margin-mobile">
            <div class="feature-lists" ng-repeat="data in feature5 track by $index">
              <div class="feature-icon">
                <i class="{{data.icon}}"></i>
              </div>
              <div class="feature-count">
                <h4 class="margin0">{{data.title}}</h4>
                <p>{{data.desc}}</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 margin-mobile hidden-xs">
            <div class="dashboard">
              <img src="img/dashboard.png" alt="dashboard" class="img-responsive">
            </div>
          </div>
      </div>

        <hr class="sweet-line">

        <div class="row">
          <div class="col-sm-6 margin-mobile">
            <div class="dashboard">
              <img src="img/dashboard.png" alt="dashboard" class="img-responsive">
            </div>
          </div>
          <div class="col-sm-6 margin-mobile">
            <div class="feature-lists" ng-repeat="data in feature6 track by $index">
              <div class="feature-icon">
                <i class="{{data.icon}}"></i>
              </div>
              <div class="feature-count">
                <h4 class="margin0">{{data.title}}</h4>
                <p>{{data.desc}}</p>
              </div>
            </div>
          </div>
        </div>

        <hr class="sweet-line">

        <div class="row">
          <div class="col-sm-6 margin-mobile visible-xs">
            <div class="dashboard">
              <img src="img/dashboard.png" alt="dashboard" class="img-responsive">
            </div>
          </div>
          <div class="col-sm-6 margin-mobile">
            <div class="feature-lists" ng-repeat="data in feature7 track by $index">
              <div class="feature-icon">
                <i class="{{data.icon}}"></i>
              </div>
              <div class="feature-count">
                <h4 class="margin0">{{data.title}}</h4>
                <p>{{data.desc}}</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 margin-mobile hidden-xs">
            <div class="dashboard">
              <img src="img/dashboard.png" alt="dashboard" class="img-responsive">
            </div>
          </div>
        </div>
        </div>
</div>
  </div>
</section>
