<section class="container">
  <div class="white-box">
    <div class="row">
      <div class="col-md-offset-2 col-md-4 col-sm-offset-1 col-sm-5 col-xs-offset-1 col-xs-10">
        <form ng-submit="forgotPassword();">
          <div class="login-form">
            <h4 class="login">Forgot Password</h4>
            <div class="form-group">
              <label>EMAIL ADDRESS</label>
              <input type="email" class="form-control" ng-model="forgot.email">
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <button class="btn btn-primary" type="submit">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
