<section class="container">
  <div class="white-box">
    <div class="head text-center">
      <h2 class="color-head text-uppercase f20 margin0 mb10">Forgot password?</h2>
      <p>Please enter your email address</p>
    </div>
    <div class="row mt50">
      <div class="col-sm-offset-4 col-sm-4">
        <form ng-submit="forgotPassword();">
            <div class="form-group">
              <label class="text-style">EMAIL ADDRESS</label>
              <input type="email" class="form-control" ng-model="forgot.email" required>
            </div>
            <button class="btn btn-primary btn-outline" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</section>
