<section>
  <div class="home-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="steps-title">
            <h4>Create Android & IOS Application in 3 Steps</h4>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="blaze-steps text-center">
                <div class="step-img">
                  <img src="img/step1.png" name="step1" title="step1" class="img-responsive">
                </div>
                <div class="step-desc">
                  <h4>Register</h4>
                  <span>start with first step by simply registration on the Blazen.io</span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="blaze-steps text-center">
                <div class="step-img">
                  <img src="img/step2.png" name="step2" title="step2" class="img-responsive">
                </div>
                <div class="step-desc">
                  <h4>Configure</h4>
                  <span>configure your application with simple and powerful backend</span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="blaze-steps text-center">
                <div class="step-img">
                  <img src="img/step3.png" name="step3" title="step3" class="img-responsive">
                </div>
                <div class="step-desc">
                  <h4>Publish</h4>
                  <span>Publish app on IOS & Android with just a click</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="publish-img">
            <img src="img/publish.png" class="img-responsive">
          </div>
        </div>
      </div>

    </div>
  </div>
  <section>
    <div class="help-bg">
      <div class="container">
        <div class="row">
          <div class="col-md-2">
          <div class="help-icon">
            <img src="img/help-icon.png" class="img-responsive">
          </div>
          </div>
          <div class="col-md-10">
            <div class="help-title">
              <h2>PRofessional Help</h2>
              <h4>Get help from the professional to get your app Developed</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
