<div class="web-layer layer"></div>
<section>
  <div id="scene" class="scene unselectable" data-friction-x="0.1" data-friction-y="0.3" data-scalar-x="25" data-scalar-y="15" style="width: 100%;  height: 100%; transform: translate3d(0px, 0px, 0px); transform-style: preserve-3d; backface-visibility: hidden;" data-mode="cursor">
    <div class="home-bg">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <div class="step mt40">
              <div class="steps-title text-center layer" data-depth="0.10">
                <h2 class="color-white f35 font-weight300">Create Android &amp; IOS Application in 3 Steps</h2>
              </div>
              <div class="three-step mt30">
                <div class="row">
                  <div class="col-md-4">
                    <div class="blaze-steps text-center layer" data-depth="0.10">
                      <div class="step-img">
                        <img src="img/step1.png" name="Register" title="Register" class="img-responsive">
                      </div>
                      <div class="step-desc">
                        <h2 class="color-white text-uppercase">1. Register</h2>
                        <span class="color-white">Start withtext-uppercase first step by simply registering on the Blazen.io</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="blaze-steps text-center layer" data-depth="0.10">
                      <div class="step-img">
                        <img src="img/step2.png" name="Configure" title="Configure" class="img-responsive">
                      </div>
                      <div class="step-desc">
                        <h2 class="color-white text-uppercase">2. Manage</h2>
                        <span class="color-white">Configure your application with simple &amp; powerful backend.</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="blaze-steps text-center layer" data-depth="0.10">
                      <div class="step-img">
                        <img src="img/step3.png" name="Publish" title="Publish" class="img-responsive">
                      </div>
                      <div class="step-desc">
                        <h2 class="color-white text-uppercase">3. Publish</h2>
                        <span class="color-white">Publish app on iOS &amp; Android with just a click.</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="publish-img">
              <img src="img/publish.png" class="img-responsive" name="Publish" title="Publish">
              <div class="inner-section">
                <div class="no-coding">
                  <h4 class="color-white">No coding required </h4>
                </div>
                <div class="app-review">
                  <span class="color-white f28 ">APP PREVIEW</span>
                  <div class="store-icon custom-li">
                    <ul>
                      <li>
                        <a href="">
                          <div class="icon-store">
                            <img src="img/android.png" name="Android" title="Android">
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="">
                          <div class="icon-store">
                            <img src="img/apple.png" name="IOS" title="IOS">
                          </div>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="help-bg">
    <div class="border-dash"> -->
  <!-- <img src="img/help.jpg" class="img-responsive"> -->
  <div class="container">
    <div class="bg-code help-bg padding-code">
      <div class="row">
        <div class="col-md-2">
          <div class="help-icon">
            <img src="img/help-icon.png" class="img-responsive" title="Professional Help">
          </div>
        </div>
        <div class="col-md-10">
          <div class="help-title">
            <h2 class="color-head text-uppercase f30 margin0 mb15">Professional Help</h2>
            <p class="color-grey margin0">Get help from the professional to get your app Developed</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="bg-code">
          <div class="padding-code">
            <div class="row">
              <div class="col-md-3">
                <div class="source-img help-icon">
                  <img src="img/usb.png" class="img-responsive text-center" title="Download code">
                </div>
              </div>
              <div class="col-md-9">
                <div class="code-title">
                  <h2 class="color-head text-uppercase f30 margin0 mb15">Downloadable Code</h2>
                  <p class="color-grey">Download the application code and modify make your own personal templates as well. Code developed with HTML, CSS, Angular JS, Ionic.</p>
                </div>
                <div class="lang-list custom-li store-icon">
                  <ul>
                    <li>
                      <div class="icon-list">
                        <img src="img/html.png" title="HTML5">
                      </div>
                    </li>
                    <li>
                      <div class="icon-list">
                        <img src="img/css.png" title="CSS3">
                      </div>
                    </li>
                    <li>
                      <div class="icon-list">
                        <img src="img/angular.png" title="Angular">
                      </div>
                    </li>
                    <li>
                      <div class="icon-list">
                        <img src="img/ionic.png" title="ionic">
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="social-bg bg-code">
          <div class="padding-code">
            <div class="row">
              <div class="col-md-3">
                <div class="source-img help-icon">
                  <img src="img/blogs.png" class="img-responsive text-center" title="Download code">
                </div>
              </div>
              <div class="col-md-6 border-right">
                <div class="code-title">
                  <h2 class="color-head text-uppercase f30 margin0 mb15">Preintegrated blog</h2>
                  <p class="color-grey">Download the application code and modify make your own personal templates as well. Preintegrated with backend. Code developed with HTML, CSS, Angular JS, Ionic.</p>
                </div>

              </div>
              <div class="col-md-3">
                <div class="lang-list custom-li padding7 pt30">
                  <ul>
                    <li>
                      <div class="icon-list">
                        <img src="img/wordpress.png" title="HTML5">
                      </div>
                    </li>
                    <li>
                      <div class="icon-list">
                        <img src="img/tumblr.png" title="CSS3">
                      </div>
                    </li>

                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-code help-bg padding-code">
          <div class="row">
            <div class="col-md-3">
              <div class="help-icon">
                <img src="img/social.png" class="img-responsive" title="Professional Help">
              </div>
            </div>
            <div class="col-md-9">
              <div class="help-title">
                <h2 class="color-head text-uppercase f30 margin0 mb15">Signup for Free Trail</h2>
                <div class="row">
                  <div class="col-md-6">
                    <button class="btn btn-google google-icon brdr social-buttons">
                      <i class="fa fa-google-plus social-f margin-btn"></i>
                      <span class="gp">Sign in with Google+</span>
                    </button>
                    <button class="btn btn-twitter brdr social-buttons">
                      <i class="fa fa-twitter social-f margin-btn"></i>
                      <span class="tw">Sign in with Twitter</span>
                    </button>
                    <!-- <div class="social-signup custom-li mt15">
          <ul>
            <li class="pl0">

              <button class="btn btn-google google-icon brdr social-buttons">
                <i class="fa fa-google-plus social-f margin-btn"></i>
                <span class="gp">Sign in with Google+</span>
              </button>
            </li>
            <li>
              <button class="btn btn-facebook fb-icon brdr social-buttons">
                <i class="fa fa-facebook social-f margin-btn"></i>
                <span class="fb">Sign in with facebook</span>
              </button>

            </li>
            <li>
              <button class="btn btn-twitter twitter-icon brdr social-buttons">
                <i class="fa fa-twitter social-f margin-btn"></i>
                <span class="tw">Sign in with Twitter</span>
              </button>

            </li>
            <li>
              <button class="btn btn-twitter git-icon brdr social-buttons">
                <i class="fa fa-github-alt social-f margin-btn"></i>
                <span class="tw">Sign in with GitHub</span>
              </button>

            </li>
          </ul>
        </div> -->
                  </div>
                  <div class="col-md-6">
                    <button class="btn btn-facebook fb-icon brdr social-buttons">
                      <i class="fa fa-facebook social-f margin-btn"></i>
                      <span class="fb">Sign in with facebook</span>
                    </button>
                    <button class="btn btn-git brdr social-buttons">
                      <i class="fa fa-github-alt social-f margin-btn"></i>
                      <span class="tw">Sign in with GitHub</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 pl0">
        <div class="feature-bg bg-code">
          <div class="feature title">
            <h2 class="color-head text-uppercase f30 margin0 mb10">Features</h2>
          </div>
          <div class="feature-list">
            <ul>
              <li>Easy Backend</li>
              <li>Live Preview of App</li>
              <li>Send Notification</li>
              <li>Enable or Disable Any Feature</li>
              <li>Social Login, Email Login</li>
              <li>Blog integration - Wordpress, Tumblr</li>
              <li>Social Feeds</li>
              <li>Contact Form</li>
              <li>Photo Gallery</li>
              <li>Video Gallery</li>
              <li>Audio Gallery</li>
              <li>Events</li>
              <li>iOS, Android App Publishing</li>
              <li>&amp; Many More</li>
            </ul>
          </div>
        </div>
      </div>
    </div>


  </div>
</section>
