<section class="container">
  <div class="white-box">
    <div class="row">
      <div class="col-md-offset-2 col-md-4 col-sm-offset-1 col-sm-5 col-xs-offset-1 col-xs-10">
        <div class="">
          <h4 class="login text-center">LOGIN</h4>
          <form action="" name="login">
          <div class="form-group">
            <label class="text-style">EMAIL ADDRESS</label>
            <input type="email" class="form-control input-style" name="email" required>

          </div>
             <p class="colpad" ng-show="login.email.$error.required && login.email.$dirty">Invalid email address</p>
          <div class="form-group">
            <label class="text-style">PASSWORD</label>
            <input type="password" class="form-control input-style"  ng-minlength="8" name="Password" required>

          </div>
           <p class="colpad" ng-show="login.email.$error.required && login.email.$dirty">Password should be min 8 character</p>
             </form>
        </div>

        <div class="row">
          <div class="col-md-6 col-sm-6">
            <button class="btn btn-outline brdr">
              <span class="social-f">LOG IN</span>
            </button>
          </div>
          <div class="col-md-6 center">
            <div class="class-forget">
              <a href="">Forgot Password?</a>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <span class="or">OR</span>&nbsp;

            <a href="#/register" class="primary">Create New Account</a>
              </div>
            </div>
        </div>
        <div class="col-md-offset-1 col-md-3 col-sm-4 col-xs-offset-1 col-xs-10 text-center">
          <div class="mt50">
            <div class="button-set">
              <button class="btn btn-facebook fb-icon brdr social-buttons">
                <i class="fa fa-facebook social-f margin-btn float-left"></i>
                <span class="fb">Sign in with facebook</span>
              </button>
                <button class="btn btn-google google-icon brdr social-buttons">
                  <i class="fa fa-google-plus social-f margin-btn float-left"></i>
                  <span class="gp">Sign in with Google+</span>
                </button>
                <button class="btn btn-twitter twitter-icon brdr social-buttons">
                  <i class="fa fa-twitter social-f margin-btn float-left"></i>
                  <span class="tw">Sign in with Twitter</span>
                </button>
                <button class="btn btn-git git-icon brdr social-buttons">
                  <i class="fa fa-github-alt social-f margin-btn float-left"></i>
                  <span class="tw">Sign in with GitHub</span>
                </button>
            </div>
          </div>
        </div>

    </div>
  </div>
</section>
