<section class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="login-form">
                <h4 class="login">LOGIN</h4>
                <div class="form-group">
                    <label>EMAIL ADDRESS</label>
                    <input type="email" class="form-control">
                </div>
                <div class="form-group">
                    <label>PASSWORD</label>
                    <input type="password" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <button class="btn btn-danger">LOG IN</button>
                </div>
                <div class="col-md-6 ">
                    <div class="class-forget">
                        <p>Forgot Password?</p>
                    </div>

                </div>
            </div>
            <div class="text-center">
                <p class="or">OR</p>
                <div class="button-set">
                    <button class="btn btn-facebook">
                        <i class="fa fa-facebook social-f"></i>
                    </button>
                    <button class="btn btn-google">
                        <i class="fa fa-google-plus"></i>
                    </button>
                    <button class="btn btn-twitter">
                        <i class="fa fa-twitter"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-offset-2 col-md-4">
            <div class="login-form">
                <h4 class="login">SIGN UP</h4>
                <div class="form-group">
                    <label>FIRST NAME</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>LAST NAME</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>EMAIL ADDRESS</label>
                    <input type="email" class="form-control">
                </div>
                <div class="form-group">
                    <label>PASSWORD</label>
                    <input type="password" class="form-control">
                </div>
                <div class="form-group">
                    <label>CONFIRM PASSWORD</label>
                    <input type="password" class="form-control">
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-danger">REGISTER</button>
                <p class="or">OR</p>
                <div class="button-set">
                    <button class="btn btn-facebook">
                        <i class="fa fa-facebook"></i>
                    </button>
                    <button class="btn btn-google">
                        <i class="fa fa-google-plus"></i>
                    </button>
                    <button class="btn btn-twitter">
                        <i class="fa fa-twitter"></i>
                    </button>
                </div>
                <p>Already Registerd? Log In</p>
            </div>
        </div>
    </div>
</section>