<div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-2">
            <div class="text-center">
                <p class="head">Single Mobile App</p>
                <p class="head">Single Backend</p>
                <p class="head">Andriod App</p>
                <h4 class="price">Free</h4>
                <button type="button" class="btn">Sign up now</button>
            </div>
        </div>
        <div class="col-md-2">
            <div class="text-center">
                <p class="head">5 Mobile Apps</p>
                <p class="head">Multiple Backends</p>
                <p class="head">Andriod App</p>
                <p class="head">ios App</p>
                <h4 class="price">$25/MO</h4>
                <button type="button" class="btn">Pay now</button>
            </div>
        </div>
        <div class="col-md-2">
            <div class="text-center">
                <p class="head">20 Mobile Apps</p>
                <p class="head">Multiple Backends</p>
                <p class="head">Andriod App</p>
                <p class="head">ios App</p>
                <h4 class="price">$150/YR</h4>
                <button type="button" class="btn">Pay now</button>
            </div>
        </div>
        <div class="col-md-2">
            <div class="text-center">
                <p class="head">Unlimited Mobile Apps</p>
                <p class="head">Unlimited Backends</p>
                <p class="head">Andriod App</p>
                <p class="head">ios App</p>
                <h4 class="price">$399/YR</h4>
                <button type="button" class="btn">Pay now</button>
            </div>
        </div>
        <div class="col-md-2">
            <div class="text-center">
                <p class="head">Custom Mobile Apps</p>
                <p class="head">Custom Backend</p>
                <p class="head">Andriod App</p>
                <p class="head">ios App</p>
                <h4 class="price">ENTERPRISE</h4>
                <button type="button" class="btn">Contact us</button>
            </div>
        </div>
    </div>
</div>