<div class="container">
    <div class="row">
        <div class="head text-center">
            <h2 class="">Choose a Plan</h2>
            <p>Make your app in no time.</p>
        </div>
        <div class="col-md-6">
            <div class="plan">
                <div class="text-center">
                    <h4 class="head">Single Mobile App</h4>
                    <h3 class="price">Free Trial</h3>
                    <p class="primary">for 45 days</p>
                    <button type="button" class="btn btn-primary">Sign up now</button>
                </div>
                <div class="">
                    <p> Single Mobile App includes:</p>
                    <ul>
                        <li class="head">Single Backend</li>
                        <li class="head">Andriod App</li>
                        <li class="head">Business email addresses (name@yourcompany.com)</li>
                        <li class="head">Video and voice calls</li>
                        <li class="head">Integrated online calendars</li>
                        <li class="head">30GB of online storage for file syncing and sharing</li>
                        <li class="head">Online text documents, spreadsheets and slides</li>
                        <li class="head">Easy to create project sites</li>
                        <li class="head">Security and admin controls</li>
                        <li class="head">24/7 phone and email support</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="plan">
                <div class="text-center">
                    <h4 class="head">5 Mobile Apps</h4>
                    <h3 class="price">$25</h3>
                    <p class="primary">per 6 month</p>
                    <button type="button" class="btn btn-primary">Pay now</button>
                </div>
                <div class="">
                    <p> 5 Mobile Apps includes:</p>
                    <ul>
                        <li class="head">Multiple Backends</li>
                        <li class="head">Andriod App</li>
                        <li class="head">ios App</li>
                        <li class="head">Unlimited Storage (or 1TB per user if fewer than 5 users)</li>
                        <li class="head">Advanced admin controls for Drive</li>
                        <li class="head">Audit and reporting insights for Drive content and sharing</li>
                        <li class="head">Google Vault for eDiscovery covering emails, chats, docs, and files</li>
                        <li class="head">Easily search and export to different formats</li>
                        <li class="head">Archive all emails sent by your company</li>
                        <li class="head">Set message retention policies</li>
                        <li class="head">Place and enforce litigation holds on inboxes</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--
		<div class="col-md-6">
			<div class="text-center">
				<h4 class="head">20 Mobile Apps</h4>
				<h3 class="price">$150</h3>
				<p class="primary">per year</p>
				<button type="button" class="btn btn-primary">Pay now</button>
			</div>
			<div class="">
				<p> 20 Mobile Apps includes:</p>
				<ul>
					<li class="head">Multiple Backends</li>
					<li class="head">Andriod App</li>
					<li class="head">ios App</li>
				</ul>
			</div>
		</div>
-->
        <!--
		<div class="col-md-6">
			<div class="text-center">
				<h4 class="head">Unlimited Mobile Apps</h4>
				<h3 class="price">$399</h3>
				<p class="primary">per year</p>
				<button type="button" class="btn btn-primary">Pay now</button>
			</div>
			<div class="">
				<p> Unlimited Mobile Apps includes:</p>
				<ul>
					<li class="head">Unlimited Backends</li>
					<li class="head">Andriod App</li>
					<li class="head">ios App</li>
				</ul>
			</div>
		</div>
-->
        <!--
        <div class="col-md-2">
            <div class="text-center">
                <h4 class="head">Custom Mobile Apps</h4>
                <p class="">Custom Backend</p>
                <p class="head">Andriod App</p>
                <p class="head">ios App</p>
                <h3 class="price">ENTERPRISE</h3>
                <button type="button" class="btn">Contact us</button>
            </div>
        </div>
-->

        <div class="row">
            <div class="col-sm-offset-2 col-md-8">
                <div class="subribe big-box text-center">
                    <h4>Join our list to get Latest Update:</h4>
                    <form class="form-inline">
                        <div class="form-group">
                            <input type="email" class="form-control" id="" placeholder="Enter your Email Id">
                        </div>
                        <button type="submit" class="btn btn-primary">Subscribe!</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
