<section class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-4">
          <div class="login-form">
              <h4 class="login text-center">SIGN UP</h4>
              <div class="form-group">
                  <label class="text-style">FIRST NAME</label>
                  <input type="text" class="form-control input-style">
              </div>
              <div class="form-group">
                  <label class="text-style">LAST NAME</label>
                  <input type="text" class="form-control input-style">
              </div>
              <div class="form-group">
                  <label class="text-style">EMAIL ADDRESS</label>
                  <input type="email" class="form-control input-style">
              </div>
              <div class="form-group">
                  <label class="text-style">PASSWORD</label>
                  <input type="password" class="form-control input-style">
              </div>
              <div class="form-group">
                  <label class="text-style">CONFIRM PASSWORD</label>
                  <input type="password" class="form-control input-style">
              </div>
          </div>
          <div class="row">
              <div class="col-md-6">
                  <button class="btn btn-primary brdr">
                    <span class="social-f">REGISTER</span>
                  </button>
              </div>
              <div class="col-md-6 center">
                  <div class="class-forget">
                      <span>Already Registerd?<a href="#/login" class="primary"> Log In</a></span>
                  </div>
              </div>
          </div>
          <!-- <div class="text-center">
              <button class="btn btn-primary">REGISTER</button>

              <p>Already Registerd? Log In</p>
          </div> -->
        </div>
        <div class="col-md-offset-1 col-md-4 text-center">
          <div class="login-form">
            <div class="button-set">
                <button class="btn btn-facebook fb-icon brdr social-buttons">
                  <i class="fa fa-facebook social-f"></i>
                  <span class="fb">CONNECT WITH FACEBOOK</span>
                </button>
                <button class="btn btn-google google-icon brdr social-buttons">
                  <i class="fa fa-google-plus social-f"></i>
                  <span class="gp">CONNECT WITH GOOGLE</span>
                </button>
                <button class="btn btn-twitter twitter-icon brdr social-buttons">
                  <i class="fa fa-twitter social-f"></i>
                  <span class="tw">CONNECT WITH TWITTER</span>
                </button>
                <button class="btn btn-twitter brdr social-buttons">
                  <i class="fa fa-github-alt social-f"></i>
                  <span class="tw">CONNECT WITH GITHUB</span>
                </button>
            </div>
          </div>
        </div>
    </div>
</section>
