<section class="container">
  <div class="white-box">
    <div class="row">
        <div class="col-md-offset-2 col-md-4">
          <div class="">
              <h4 class="login text-center">SIGN UP</h4>
              <div class="form-group">
                  <label class="text-style">FULL NAME</label>
                  <input type="text" class="form-control input-style">
              </div>
              <div class="form-group">
                  <label class="text-style">EMAIL ADDRESS</label>
                  <input type="email" class="form-control input-style">
              </div>
              <div class="form-group">
                  <label class="text-style">PASSWORD</label>
                  <input type="password" class="form-control input-style">
              </div>
              <div class="form-group">
                  <label class="text-style">CONFIRM PASSWORD</label>
                  <input type="password" class="form-control input-style">
              </div>
          </div>
          <div class="row">
              <div class="col-md-6">
                  <button class="btn btn-primary brdr">
                    <span class="social-f">REGISTER</span>
                  </button>
              </div>
              <div class="col-md-6 center">
                  <div class="class-forget">
                      <span>Already Registerd?<a href="#/login" class="primary"> Log In</a></span>
                  </div>
              </div>
          </div>
          <!-- <div class="text-center">
              <button class="btn btn-primary">REGISTER</button>

              <p>Already Registerd? Log In</p>
          </div> -->
        </div>
        <div class="col-md-offset-1 col-md-3 text-center">
          <div class="mt50">
            <div class="button-set">
              <button class="btn btn-facebook fb-icon brdr social-buttons">
                <i class="fa fa-facebook social-f margin-btn float-left"></i>
                <span class="fb">Sign in with facebook</span>
              </button>
                <button class="btn btn-google google-icon brdr social-buttons">
                  <i class="fa fa-google-plus social-f margin-btn float-left"></i>
                  <span class="gp">Sign in with Google+</span>
                </button>
                <button class="btn btn-twitter twitter-icon brdr social-buttons">
                  <i class="fa fa-twitter social-f margin-btn float-left"></i>
                  <span class="tw">Sign in with Twitter</span>
                </button>
                <button class="btn btn-twitter git-icon brdr social-buttons">
                  <i class="fa fa-github-alt social-f margin-btn float-left"></i>
                  <span class="tw">Sign in with GitHub</span>
                </button>
            </div>
          </div>
        </div>
    </div>
    </div>
</section>
