<div class="container">
    <div class="white-box">
      <div class="row">
          <div class="head text-center">
              <h2 class="color-head text-uppercase f20 margin0 mb10">Terms & Conditions</h2>
              <!-- <p>Make your app in no time.</p> -->
          </div>

      </div>
      <div class="row mt30">
        <div class="col-md-offset-1 col-md-10">
          <div class="about">
          <p class="font-bold">
            The Vintager, we denounce with righteous indignation and dislike men who are so beguiled and demo ralized by the char ms of pleasure of the moment, so blinded by des;ire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will.
          </p>
          <p>
            Aspiring to beauty in our designs is admirable. But it doesn’t guarantee usability, nor is it a product or marketing strategy. Like “simple” and “easy” before it, “beautiful” says very little about the product. How many people, fed up with PowerPoint, cry out in frustration, “If only it were more beautiful”? At best, the problem is simple: No one has figured out how to describe their product effectively. For example, Write, a note-taking app, describes itself as “a beautiful home for all your notes,” which doesn’t say much about why one might want it. Macworld describes it as “Easy Markdown Writing for Dropbox Users.
          </p>
          <p>
            I am a business owner myself. I coach, blog, maintain a website and develop curricula for leadership-development workshops. I use social media, including Facebook, Twitter and LinkedIn. By far, my biggest distraction was Facebook on my iPhone. I have a personal page in addition to my business page, and I found it way too easy to check my latest push notifications. So, I deleted the app from my phone. Now I wasn’t one click away from another diversion. There are many ways to manage distractions externally so that the brain doesn’t get exhausted in the process. In my college days, I taped myself to a chair to finish term papers, thus eliminating the possibility of wandering off to chat with a friend.
          </p>
          </div>
        </div>
      </div>
    </div>
  </div>
