<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6 foot-color">
        &copy; {{template.year}} Blazen. All Rights Resvered.
      </div>
      <div class="col-md-6">
        <div class="pull-right foot-color socials">
          <span itemscope itemtype="http://blazen.io">
            <link itemprop="url" href="http://www.blazen.io">
            <a itemprop="sameAs" href="http://www.facebook.com/Blazen-240917366258079"><i class="fa fa-facebook"></i></a>
            <a itemprop="sameAs" href="http://www.twitter.com/Blazendev"><i class="fa fa-twitter"></i></a>
            <a itemprop="sameAs" href="https://www.instagram.com/devblazen/"><i class="fa fa-instagram"></i></a>
            <a itemprop="sameAs" href="https://www.youtube.com/channel/UClns9XDkPCf02TL8tDxmFAw"><i class="fa fa-youtube"></i></a>
          </span>
        </div>
      </div>
    </div>
  </div>
</footer>
