

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <ul class="list-unstyled">
        <li>Blazen</li>
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">Customers</a>
        </li>
        <li>
          <a href="#">Jobs</a>
        </li>
        <li>
          <a href="#">Blog</a>
        </li>
        <li>
          <a href="#">Press</a>
        </li>
        <li>
          <a href="#">Pricing</a>
        </li>
      </ul>
    </div>
    <div class="col-md-3">
      <ul class="list-unstyled">
        <li>Help</li>
        <li>
          <a href="#">Get Started</a>
        </li>
        <li>
          <a href="#">Guides</a>
        </li>
        <li>
          <a href="#">Forums</a>
        </li>
        <li>
          <a href="#">Videos</a>
        </li>
        <li>
          <a href="#">API</a>
        </li>
      </ul>
    </div>
    <div class="col-md-3">
      <ul class="list-unstyled">
        <li>Support</li>
        <li>
          <a href="#">Developer Support</a>
        </li>
        <li>
          <a href="#">Resources</a>
        </li>
        <li>
          <a href="#">Contact Sales</a>
        </li>
        <li>
          <a href="#">Consulting</a>
        </li>
      </ul>
    </div>
    <div class="col-md-3">
      <div class="custom-li">
            <span style="font-weight:700;">Connect</span>
      <ul class="list-unstyled pt10">

        <li style="padding-left:0px">
          <div class="socials">
          <a href="#"><img src="img/twitter.png" alt="twitter"></a>
          </div>
        </li>
        <li>
            <div class="socials">
          <a href="#"><img src="img/fb.png" alt="facebook"></a>
        </div>
        </li>
        <li>
            <div class="socials">
          <a href="#"><img src="img/google.png" alt="google-plus"></a>
        </div>
        </li>
        <!-- <li>
            <div class="socials">
          <a href="#"><img src="img/git.png" alt="git-hub"></a>
        </div>
        </li> -->
      </ul>
      </div>
      <div class="newsletter mt15">
        <span>Subscribe For Newslatter</span>
        <form action="" class="pt10">
        <div class="input-group">
              <input type="text" class="form-control" placeholder="Enter Email Address">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="button">Submit</button>
              </span>
            </div>
            </form>
      </div>
    </div>
  </div>

</div>
