<header>
  <nav class="navbar navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div class="logo display-inline">
        <a ui-sref="home">  <i class="icon icon-blazen"></i> Blazen</a>
        </div>
      </div>

      <div class="collapse navbar-collapse on-right" id="nav-collapse">
        <ul class="nav navbar-nav text-uppercase">
          <li>
            <a href="">Docs</a>
          </li>
          <li>
            <a href="">Forum</a>
          </li>
          <li>
            <a href="">Mahesh Maurya <i class="fa fa-caret-down"></i></a>
            <ul class="dropdown-menu">
              <li>
                <a href="">Account</a>
              </li>
              <li>
                <a href="">Billing</a>
              </li>
              <li>
                <a href="">Log out</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="clearfix">

      </div>
    </div>
  </nav>
</header>
