<section>

    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss()">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title text-center">Create New Application</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="text-center">
                        <div class="app-icon upload-app">
                            <img src="img/placeholder.jpg">
                        </div>
                        <div class="upload-btn">
                          <upload-image ng-model="imageArr" no-view ng-callback="changeit"></upload-image>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="name-submit">
                        <form action="">
                            <span>
                                Application Name</span>
                            <input type="text" class="form-control" placeholder="Please enter your application name">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">

            <button type="button" class="btn btn-small btn-primary btn-outline">Save</button>
        </div>
    </div>

</section>
